@using Microsoft.AspNetCore.Authorization
@using Bug_Tracker.Authorization

@inject IAuthorizationService _authorizationService

@model Bug_Tracker.Models.Project

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<h1>@Html.DisplayFor(m => m.Title)</h1>
<p>@Html.DisplayFor(m => m.Description)</p>
<br />
<div>
    @if ((await _authorizationService.AuthorizeAsync(User, Model, CommentOperationAuthorizationRequirements.Update)).Succeeded)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Edit</a>
    }
    &nbsp;
    @if ((await _authorizationService.AuthorizeAsync(User, Model, CommentOperationAuthorizationRequirements.Delete)).Succeeded)
    {
        <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-outline-danger">Delete</a>
    }
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-outline-secondary"><< Back</a>
</div>
