@using Microsoft.AspNetCore.Authorization
@using Bug_Tracker.Authorization
@using Microsoft.AspNetCore.Identity
@inject IAuthorizationService _authorizationService
@inject UserManager<IdentityUser> _userManager
@model Bug_Tracker.Models.Project
@{
    ViewData["Title"] = "Project Details";
}
<br />
<br />
<h1>@Html.DisplayFor(m => m.Title)</h1>
<p>@Html.DisplayFor(m => m.Description)</p>
<p>@await _userManager.FindByIdAsync(Model.OwnerId)</p>
<br />
<div>
    @if ((await _authorizationService.AuthorizeAsync(User, Model, CommentOperationAuthorizationRequirements.Update)).Succeeded)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Edit</a>
    }
    &nbsp;
    @if ((await _authorizationService.AuthorizeAsync(User, Model, CommentOperationAuthorizationRequirements.Delete)).Succeeded)
    {
        <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-outline-danger">Delete</a>
    }
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-outline-secondary"><< Back</a>
</div>
