@model List<Bug_Tracker.Models.Project>
@{
    ViewData["Title"] = "Index";
}

<h2>Projects</h2>
<br />
<div>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>
<br />


<div class="row row-cols-1 row-cols-md-3">
    @foreach(var item in Model)
    {
        <div class="col">
            <div class="card h-100" style="border-radius: 5%">
                <div class="card-body">
                    <h2 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h2>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <div>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                        &nbsp;
                        <a asp-controller="Tickets" asp-action="Index" asp-route-projectFilter="@item.Title" class="btn btn-primary">Tickets</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>